.pf-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 15px;
}

.pf-card-line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.pf-card-line1 h2 {
    font-size: 20px;
    font-weight: bold;
}

.pf-card-line1 p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

.pf-card-line2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.pf-card-line2 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.name-pf {
    width: 244px;
}

.admissao-pf {
    width: 273px;
    min-width: 235px;
}

.cpf-pf {
    width: 370px;
    min-width: 180px;
}

.status-pf {
    width: 147px;
    min-width: 92px;
    text-align: right;
}

.nivel-usuario-pf {
    width: 244px;
    margin-right: 15px;
}

.endereco-pf {
    width: 658px;
}

@media (max-width: 1140px) {
    .pf-card-line1 {
        display: flex;
        justify-content: flex-start;
    }

    .name-pf {
        min-width: 244px;
        margin-right: 15px;
    }

    .nivel-usuario-pf {
        min-width: 244px;
    }
}

@media (max-width: 850px) {
    .pf-card-line1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pf-card-line2 {
        border-top: 1px solid black;
    }

    .cpf-pf {
        width: 385px;
    }

    .admissao-pf {
        text-align: right;
    }

    .pf-card-line2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nivel-usuario-pf {
        text-align: center;
    }

    .endereco-pf {
        text-align: center;
    }
}

@media (max-width: 591px) {
    .name-pf {
        text-align: center;
    }
    
    .admissao-pf {
        text-align: center;
    }
    
    .cpf-pf {
        text-align: center;
    }
    
    .status-pf {
        text-align: center;
    }
}