.home-card {
    max-width: 562px;
    min-width: 230px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.home-content-container {
    text-align: center;
}

.home-content-container h2 {
    font-size: 1em;
}

.home-button-container {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 584px) {
    .home-container {
        font-size: 30px;
    }
}