.container {
    padding: 0;
    width: 100%;
}

.container h2 {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
}

.field {
    height: 40px;
    background: #FFFBF5;
    border: 1px solid #AD9C84;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 3px;
    margin: 1px;
}

.field p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #AD9C84;
    margin: 0;
}